<!DOCTYPE html> 

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
   

    <head th:replace="layout/header :: head">
        <title>Home: Libreria Spring Boot</title>

    </head>


    <body >
        <header th:replace="layout/header :: navbar"></header>
        <br>

      <div align ="center" class="about">

          <h1><img src="https://i.imgur.com/veJycV7.png" style="width:100px;height:80px;margin-left: -10%;" >  Libreria v1.0 para la plataforma EGG </h1>
          <br>
          <p>Creada con Maven + Java + Spring Boot, con conexion a MySQL </p>
          <p>Usé Apache netbeans 12.5 y Visual Studio Code</p>
          <br>
          <h2><img src="https://i.imgur.com/fNB0ugl.png" style="width:100px;height:80px;margin-left: -10%;" >Futuras caracteristicas:</h2>
          <table>
            <tr><td> <strong>( Todo esto siempre y cuando tenga ganas xD )</strong></td></tr>
            <tr><td>- Sistema de cuentas usuario / administrador</td></tr>
            <tr><td>- Sistema de prestamos para sacar libros</td></tr>
            <tr><td>- Hacer más bonita la página de mrd</td></tr>
          </table>

          

          <br>

          <h2> <img src="https://i.imgur.com/U74FzM6.png" style="width:100px;height:80px;margin-left: -10%;" >  Creado por: Matias Argüello</h2>
          <br>
          <a href="https://www.instagram.com/matii.arguello/" ><img src="https://i.imgur.com/vtYe2gd.png" id="mifoto" width="256" eight="256" ></a> 
          
          <br>
          <br>
          <p>Fua salgo re maton en la foto (?</p>
          <p>Mi sueño no es ser programador, pero bueno, capaz se me da esto</p>
          <p>Estoy esperando que los putos de la DGE me den el bono para poder trabajar :(</p>
      </div>

    </body>
</html>